@import 'tailwindcss/base';

@layer base {
  body {
    scrollbar-width: thin;
    scrollbar-color: #a5b4fc;
  }

  body::-webkit-scrollbar {
    width: 6px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #a5b4fc;
    border-radius: 14px;
  }
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
