@import 'tailwindcss/base';

@layer base {
  .text-edge-outline-dark {
    -webkit-text-stroke: 0.5px rgba(255,255,255,0.3);
  }
  
  .text-edge-outline-light {
    -webkit-text-stroke: 0.4px rgba(0,0,0,0.5);
  }

  body {
    scrollbar-width: thin;
    scrollbar-color: #a5b4fc;
    overflow-x: hidden;
  }

  body::-webkit-scrollbar {
    width: 4px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #a5b4fc;
    border-radius: 14px;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .custom-scrollbar::-webkit-scrollbar {
    height: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a5b4fc;
    border-radius: 14px;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .custom-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #a5b4fc;
  }
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
      .masonry {
          column-gap: 1.5em;
          column-count: 1;
      }
      .masonry-sm {
          column-gap: 1.5em;
          column-count: 2;
      }
      .masonry-md {
          column-gap: 1.5em;
          column-count: 3;
      }
      .break-inside {
          break-inside: avoid;
      }
  }